In [1]:
import pandas as pd
import numpy as np
import time
import requests
import sys
from bs4 import BeautifulSoup
import re

In [2]:
dates = pd.date_range(start= '2016-01-01',end = '2020-12-31', normalize= True).to_pydatetime().tolist()
dates = [d.strftime('%Y-%m-%d') for d in dates]
print(len(dates))
date = [i.split('-') for i in dates]

1827

In [3]:
batsmen=[]
batsmen_teams = []
batsmen_ratings = []

for i in date:
    url_odi_batsmen = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting?at={}-{}-{}'.format(i[0], i[1], i[2])
    req_data = requests.get(url_odi_batsmen)
    soup = BeautifulSoup(req_data.content, 'html.parser')

    
    #Batsmen Names
    top_rank = soup.findAll('div', {'class': 'rankings-block__banner--name-large'})
    for i in top_rank:
        name = i.text
        batsmen.append(name)
    players = soup.findAll('td', {'class':'table-body__cell rankings-table__name name'})
    for player in players:
        names = player.text.replace("\n", "")
        batsmen.append(names)
        
    #Batsmen Teams
    top_country = soup.find_all('div', {'class':'rankings-block__banner--nationality'})
    for country in top_country:
        top_name = country.text.replace('\n', '')
        batsmen_teams.append(top_name)
    countries = soup.findAll('span', {'class': 'table-body__logo-text'})
    for c in countries:
        country_names = c.text.replace("\n", "")
        batsmen_teams.append(country_names)
        
    #Batsmen Ratings
    top_rating = soup.find_all('div', {'class': 'rankings-block__banner--rating'})
    for r in top_rating:
        val = r.text
        batsmen_ratings.append(val)
    rest_rating = soup.find_all('td', {'class': 'table-body__cell rating'})
    for r in rest_rating:
        values = r.text
        batsmen_ratings.append(values)

In [4]:
print(len(batsmen))
print(batsmen[:10])
print()
print(batsmen_teams[:10])
print()
print(batsmen_ratings[:10])

182700
['Virat Kohli', 'Rohit Sharma', 'Babar Azam', 'Ross Taylor', 'Aaron Finch', 'Francois du Plessis', 'David Warner', 'Kane Williamson', 'Quinton de Kock', 'Jonny Bairstow']

['IND', 'IND', 'PAK', 'NZ', 'AUS', 'SA', 'AUS', 'NZ', 'SA', 'ENG']

['870', '842', '837', '818', '791', '790', '773', '765', '755', '754']

In [5]:
bowlers = []
bowler_teams = []
bowler_ratings = []

for i in date:
    url_bowler = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling?at={}-{}-{}'.format(i[0], i[1], i[2])
    req_data = requests.get(url_bowler)
    soup = BeautifulSoup(req_data.content, 'html.parser')

    #Bowlers Names
    top_rank = soup.findAll('div', {'class': 'rankings-block__banner--name-large'})
    for i in top_rank:
        name = i.text
        bowlers.append(name)
    players = soup.findAll('td', {'class':'table-body__cell rankings-table__name name'})
    for player in players:
        names = player.text.replace("\n", "")
        bowlers.append(names)
        
    #Bowlers Teams    
    top_country = soup.find_all('div', {'class':'rankings-block__banner--nationality'})
    for c in top_country:
        top_name = c.text.replace('\n', '')
        bowler_teams.append(top_name)
    countries = soup.findAll('span', {'class': 'table-body__logo-text'})
    for c in countries:
        country = c.text.replace("\n", "")
        bowler_teams.append(country)
        
    #Bowlers Ratings
    top_rating = soup.find_all('div', {'class': 'rankings-block__banner--rating'})
    for r in top_rating:
        val = r.text
        bowler_ratings.append(val)
    rest_rating = soup.find_all('td', {'class': 'table-body__cell rating'})
    for r in rest_rating:
        values = r.text
        bowler_ratings.append(values)

In [6]:
print(len(bowlers))
print(bowlers[:10])
print()
print(bowler_teams[:10])
print()
print(bowler_ratings[:10])

182700
['Trent Boult', 'Mujeeb Ur Rahman', 'Jasprit Bumrah', 'Mehedi Hasan', 'Chris Woakes', 'Kagiso Rabada', 'Josh Hazlewood', 'Mustafizur Rahman', 'Mohammad Amir', 'Pat Cummins']

['NZ', 'AFG', 'IND', 'BAN', 'ENG', 'SA', 'AUS', 'BAN', 'PAK', 'AUS']

['722', '708', '700', '694', '675', '665', '660', '658', '647', '646']

In [7]:
all_rounders = []
all_round_teams = []
all_round_ratings = []

for i in date:
    url_all_rounder = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/all-rounder?at={}-{}-{}'.format(i[0], i[1], i[2])
    req_data = requests.get(url_all_rounder)
    soup = BeautifulSoup(req_data.content, 'html.parser')

    #All-rounders Names
    top_rank = soup.findAll('div', {'class': 'rankings-block__banner--name-large'})
    for i in top_rank:
        name = i.text
        all_rounders.append(name)
    players = soup.findAll('td', {'class':'table-body__cell rankings-table__name name'})
    for player in players:
        names = player.text.replace("\n", "")
        all_rounders.append(names)
        
    #All-rounder Teams
    top_country = soup.find_all('div', {'class':'rankings-block__banner--nationality'})
    for c in top_country:
        top_name = c.text.replace('\n', '')
        all_round_teams.append(top_name)
    countries = soup.findAll('span', {'class': 'table-body__logo-text'})
    for c in countries:
        country = c.text.replace("\n", "")
        all_round_teams.append(country)
    
    #All-rounder Ratings
    top_rating = soup.find_all('div', {'class': 'rankings-block__banner--rating'})
    for r in top_rating:
        val = r.text
        all_round_ratings.append(val)
    rest_rating = soup.find_all('td', {'class': 'table-body__cell rating'})
    for r in rest_rating:
        values = r.text
        all_round_ratings.append(values)

In [8]:
print(len(all_rounders))
print(all_rounders[:10])
print()
print(all_round_teams[:10])
print()
print(all_round_ratings[:10])

36540
['Shakib Al Hasan', 'Mohammad Nabi', 'Chris Woakes', 'Ben Stokes', 'Imad Wasim', 'Rashid Khan', 'Colin de Grandhomme', 'Ravindra Jadeja', 'Mitchell Santner', 'Sean Williams']

['BAN', 'AFG', 'ENG', 'ENG', 'PAK', 'AFG', 'NZ', 'IND', 'NZ', 'ZIM']

['420', '294', '281', '276', '271', '270', '265', '253', '251', '238']

In [9]:
#Dataframe for batsmen
data_batsmen = {'Player Names': batsmen, 'Team': batsmen_teams, 'Rating': batsmen_ratings, 'Type': 'Batsmen'}
df_batsmen = pd.DataFrame(data_batsmen)

#Dataframe for bowlers
data_bowler = {'Player Names': bowlers, 'Team': bowler_teams, 'Rating': bowler_ratings, 'Type': 'Bowler'}
df_bowler = pd.DataFrame(data_bowler)

#Dataframe for all-rounders
data_all_round = {'Player Names': all_rounders, 'Team': all_round_teams, 'Rating': all_round_ratings, 'Type': 'All-rounder'}
df_all_rounder = pd.DataFrame(data_all_round)

In [13]:
#Creating Multiple Dates 
Dates=[]
for d in dates:
    Dates.append(100*(d,))
Final_Dates=[]
for i in Dates:
    for j in i:
        Final_Dates.append(j)

In [14]:
df_batsmen['Date']=Final_Dates
df_bowler['Date']=Final_Dates

In [24]:
len(dates)

1827

In [37]:
#Creating Positions
Final_position = []
for i in range(1,1828):
    for j in range(1,101):
        Final_position.append(j)

In [38]:
len(Final_position)

182700

In [39]:
df_batsmen['Position'] = Final_position
df_bowler['Position'] = Final_position

In [40]:
df_batsmen.head()

   Player Names Team Rating     Type        Date  Position
0   Virat Kohli  IND    870  Batsmen  2016-01-01         1
1  Rohit Sharma  IND    842  Batsmen  2016-01-01         2
2    Babar Azam  PAK    837  Batsmen  2016-01-01         3
3   Ross Taylor   NZ    818  Batsmen  2016-01-01         4
4   Aaron Finch  AUS    791  Batsmen  2016-01-01         5

In [41]:
df_bowler.head()

       Player Names Team Rating    Type        Date  Position
0       Trent Boult   NZ    722  Bowler  2016-01-01         1
1  Mujeeb Ur Rahman  AFG    708  Bowler  2016-01-01         2
2    Jasprit Bumrah  IND    700  Bowler  2016-01-01         3
3      Mehedi Hasan  BAN    694  Bowler  2016-01-01         4
4      Chris Woakes  ENG    675  Bowler  2016-01-01         5

In [42]:
#Creating dates column for All rounder dataset
Dates=[]
for d in dates:
    Dates.append(20*(d,))
Final_Dates=[]
for i in Dates:
    for j in i:
        Final_Dates.append(j)

In [43]:
len(Final_Dates)

36540

In [46]:
#Creating position column for All rounder dataset
Final_position = []
for i in range(1,1828):
    for j in range(1,21):
        Final_position.append(j)

In [47]:
len(Final_position)

36540

In [48]:
df_all_rounder['Date'] = Final_Dates  
df_all_rounder['Position'] = Final_position

In [56]:
df_all_rounder.head(20)

           Player Names Team Rating         Type        Date  Position
0       Shakib Al Hasan  BAN    420  All-rounder  2016-01-01         1
1         Mohammad Nabi  AFG    294  All-rounder  2016-01-01         2
2          Chris Woakes  ENG    281  All-rounder  2016-01-01         3
3            Ben Stokes  ENG    276  All-rounder  2016-01-01         4
4            Imad Wasim  PAK    271  All-rounder  2016-01-01         5
5           Rashid Khan  AFG    270  All-rounder  2016-01-01         6
6   Colin de Grandhomme   NZ    265  All-rounder  2016-01-01         7
7       Ravindra Jadeja  IND    253  All-rounder  2016-01-01         8
8      Mitchell Santner   NZ    251  All-rounder  2016-01-01         9
9         Sean Williams  ZIM    238  All-rounder  2016-01-01        10
10        Sikandar Raza  ZIM    237  All-rounder  2016-01-01        11
11        Hardik Pandya  IND    236  All-rounder  2016-01-01        12
12   Andile Phehlukwayo   SA    221  All-rounder  2016-01-01        13
13         Mehedi Hasan  BAN    216  All-rounder  2016-01-01        14
14          Adil Rashid  ENG    212  All-rounder  2016-01-01        15
15         Jason Holder         206  All-rounder  2016-01-01        16
16       Marcus Stoinis  AUS    201  All-rounder  2016-01-01        17
17        Glenn Maxwell  AUS    200  All-rounder  2016-01-01        18
18        Kagiso Rabada   SA    199  All-rounder  2016-01-01        19
19          Trent Boult   NZ    198  All-rounder  2016-01-01        20

In [50]:
df_batsmen.to_csv('Batsmen_data.csv')
df_bowler.to_csv('Bowler_data.csv')
df_all_rounder.to_csv('All_Rounder_data.csv')

In [51]:
df_combined = pd.concat([df_batsmen, df_bowler, df_all_rounder])
df_combined.sample(n = 10)

             Player Names Team Rating         Type        Date  Position
51426     Ravindra Jadeja  IND    567       Bowler  2017-05-29        27
45004         Aaron Finch  AUS    791      Batsmen  2017-03-26         5
27625         Rashid Khan  AFG    270  All-rounder  2019-10-13         6
78816      Shaheen Afridi  PAK    621       Bowler  2018-02-27        17
66724         Eoin Morgan  ENG    668      Batsmen  2017-10-29        25
134639     Brendan Taylor  ZIM    571      Batsmen  2019-09-08        40
8920        Kuldeep Yadav  IND    598       Bowler  2016-03-30        21
181875  Jason Behrendorff  AUS    410       Bowler  2020-12-23        76
1370        Sean Williams  ZIM    426       Bowler  2016-01-14        71
20898       Kagiso Rabada   SA    199  All-rounder  2018-11-10        19

In [52]:
df_combined.to_csv('All_ODI_Rankings.csv')